<!DOCTYPE html>
<html>
  <head>
    <title>MainAppWithWebpacker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'hello_my_second_engine' %>
    <%= stylesheet_pack_tag 'hello_my_second_engine' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
